/* Basic editor styles */
.tiptap {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    scrollbar-width: thin;
    /* Fallback for unsupported browsers */


    height: 30rem;

    :first-child {
        margin-top: 0;
        width: 100%;
    }

    /* permet le texte autour de l'image */
    p {
        clear: none;
        /* Permettre l'habillage */
        overflow: hidden;
        /* Contenir les floats */
    }

    img {
        display: block;
        height: auto;
        width: 100%;
        margin: 1.5rem 0;
        max-width: 100%;


    }

    .editor-content {
        overflow: auto;
    }

    .selected-image {
        position: relative;
    }

    /* Exemple de style pour afficher la poignée uniquement en cas de sélection */
    .selected-image .custom-handle {
        display: block;
        position: absolute;
        right: -5px;
        bottom: -5px;
        width: 15px;
        height: 15px;
        background: #F29B20;
        cursor: se-resize;
        z-index: 20;


    }


    .react-renderer {
       /*  width: fit-content;
        height: 360px; */
        max-width: 100%;
        max-height: fit-content;
        /*  margin-top: 0.5rem;
        margin-bottom: 1rem; */
    }

    .react-resizable {
        max-width: fit-content;
        max-height: fit-content;

    }


    /* Masquer la poignée par défaut si non sélectionnée */
    .custom-handle {
        display: none;
    }

    .custom-image {
        display: block;
        width: 100%;
        max-width: fit-content;
        height: 100%;
        max-height: fit-content;
        object-fit: contain;
        border-radius: 0.5rem;

    }

    .custom-image-wrapper {
        z-index: 20;
    }


    .custom-image.selected {
        outline: 3px solid #e17100;
        cursor: move;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    /* Alignement et texte autour */
    .custom-image-wrapper[data-text-align="left"] {
        float: left;
        margin: 0.5rem 1rem 1rem 0;
        max-width: fit-content;

    }

    .custom-image-wrapper[data-text-align="right"] {
        float: right;
        margin: 0.5rem 0 1rem 1rem;
        max-width: fit-content;
    }

    .custom-image-wrapper[data-text-align="center"] {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0 1rem 0;
    }


    .custom-youtube-wrapper {
        z-index: 20;
        width: 100%;
    }

    .custom-youtube-wrapper[data-text-align="left"] {
        float: left;
        margin: 0.5rem 1rem 1rem 0;
        max-width: fit-content;
    }

    .custom-youtube-wrapper[data-text-align="right"] {
        float: right;
        margin: 0.5rem 0 1rem 1rem;
        max-width: fit-content;
    }

    .custom-youtube-wrapper[data-text-align="center"] {
        display: flex;
        justify-content: center;
        margin: 0.5rem auto 1rem auto;
    }

    .custom-youtube {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.5rem;
    }

    .custom-youtube.selected {
        outline: 3px solid #e17100;

    }


}