@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-adminDashboardBg: radial-gradient(ellipse at top left, #f9fafb, #d1d5dc);
  --color-adminDashboardNavBar: theme(colors.gray.700);
  --shadow-adminNavBarRightSahdow: 1px 5px 8px #30303b;
  --shadow-adminNavBarButton: 0px 1px 2px #242323;
  --shadow-adminNavBarBottomSahdow: 0px 1px 8px #30303b;

  /*   --color-adminBg: radial-gradient(ellipse at top left, #e2e8f0, #64748b); */
  --color-adminBg: radial-gradient(ellipse at top left, #90a1b9, #1d293d);
  --color-adminButton: radial-gradient(ellipse at top left, #e17100, #F29B20);
  --color-selectedAdmin: #e17100;
  --color-secondarySelectedAdmin: #F29B20;
 /*  --color-adminButtonHover: radial-gradient(ellipse at top left, #e17100, #F29B20); */
  /* --color-adminButton: theme(colors.amber.600); */
  --color-hoverAdminButton: radial-gradient(ellipse at top left, #F29B20, #e17100);
  --color-adminPrimary: theme(colors.gray.200);
  --color-adminSecondary: theme(colors.gray.300);
  --color-textPrimary: #ffffff;
  --color-textSecondary: #000000;
  --font-roboto: Roboto, sans-serif;

}





html,
body {

  height: 100dvh;
}

.ProseMirror:focus {
  outline: none !important;
}

h2 {
  font-size: 1.5em;

}

ul {
  list-style-type: disc;
  margin-left: 1.5em;
}

ol {
  list-style-type: decimal;
  margin-left: 1.5em;
}

li {
  margin-bottom: 0.2em;
}

hr {
  color: #C2C2C2;
}

blockquote {
  margin: 0.5em 0; /* Marge externe conservée */
}

blockquote p {
  position: relative;
  display: inline;
  padding-left: 1em;
  background: #96b351;
}

blockquote p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #b35151;
}